<tr>  
  <td>
    <div class="route_name_<%= route.id %>">
      <%= route.name %>
    </div>
    <%= render 'form',route: route, hidden: true %>
  </td>
  <td><%= link_to t('common.show'), [:admin, route], class:'btn btn-success' %></td>
  <td><%= link_to t('common.edit'),'', class:'btn btn-warning edit_route', data:{ route_id: route.id } %></td>
  <td><%= link_to t('common.delete'), [:admin, route], class:'btn btn-danger', method: :delete, data: { confirm: 'Вы уверенны?' } %></td>
</tr>