<p id="notice"><%= notice %></p>

<h1><%= t('.title')%></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t('common.selfname')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <%= render @routes %>
  </tbody>
</table>
<div class='btn-group'>
  <%= link_to t('common.main'), toolbar_admin_user_path(current_user), class:'btn'%>
  <%= link_to t('.new_route'), new_admin_route_path, class:'btn' %>
</div>
