<p id="notice"><%= notice %></p>
<%= render 'common/errors', resource: @route%>
<p>
  <strong><%= t('common.selfname')%></strong>
  <%= @route.name %>
</p>

<% if @route.stations.empty? %>
  <p><%= t('.no_stations')%></p>
<% else %>
<h2><%= t('.order')%></h2>
  <table>
    <thead>
      <tr>
        <td width="100px"><%= t('common.selfname')%></td>        
        <td><%= t('.position')%></td>        
      </tr>
    </thead>
    <tbody>
      <% @route.stations.ordered.each do |station|%>
        <tr>
          <td><%= station.name %><%= station.id %></td>          
          <td>
            <%= form_tag update_station_attributes_admin_station_path(station.id), method: :patch do %>              
              <%= number_field_tag :position %>  
              
              <%= label :arrival, t('.arrival') %>
             <!-- <%= time_field_tag :arrival, station.schedule_at(@route, :arrival) %> -->
              <!--<%= select_time( station.schedule_at(@route, :arrival), prefix: :arrival) %>-->
              <%= time_field_tag :arrival, station.schedule_at(@route, :arrival) %>
              
              <%= label :departing, t('.departing')%>
              <%= time_field_tag :departing, station.schedule_at(@route, :departing) %>
                                     
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag t('common.edit'), class:'btn btn-warning' %>
            <% end %>
          </td>        
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% if @route.trains.empty? %>
  <h2><%= t('.no_trains')%></h2>
<% else %>
  <h2><%= t('.route_trains')%></h2>
  <ul class='list-group'>
    <% @route.trains.each do |train|%>
      <li class='list-group-item'><%= train.number %></li>
      <% end %>
  </ul>
<% end %>

<div class='btn-group'>
  <%= link_to t('common.main'), toolbar_admin_user_path(current_user), class:'btn' %>
  <%= link_to t('common.back'), admin_routes_path, class:'btn' %>
  <%= link_to t('common.edit'), edit_admin_route_path(@route), class:'btn' %>
</div>