<p id="notice"><%= notice %></p>

<p>
  <strong> Номер : </strong>
  <%= @train.number %>
</p>
<p>
  <strong>На станции :</strong>
  <% if @train.station.present? %>
    <%= @train.station.name %>
  <% else%>
    Не указано
  <% end %>
</p>
<p>
  <strong> Маршрут :</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else%>
    Не указано
  <% end %>
</p>
<p>
  <strong> Количество вагонов : </strong>
  <%= @train.wagons.count %><br>

  <strong>  купейных : </strong>
  <%= render 'sits_count', str: 'Купе'%>

  <strong> плацкартных  : </strong>  
  <%= render 'sits_count', str: 'Плацкарт'%>
</p>

<%= link_to 'Редактировать : ', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %><br>
<%= link_to 'Главная', '/'%>
