<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Редактировать', edit_user_path(@user) %> |
<%= link_to 'Назад', users_path %><br>
<%= link_to 'Главная', '/'%>