<h1><%= t('.title') %></h1>
<p>by Antonio Montana</p>
<% if current_user && current_user.admin?%>
  <%= link_to t('.stations'), admin_stations_path %><br>
  <%= link_to t('.trains'), admin_trains_path %><br> 
  <%= link_to t('.routes'), admin_routes_path %><br>
  <%= link_to t('.users'), admin_users_path %><br>
  <%= link_to t('.tickets'), admin_tickets_path %><br>
<%elsif current_user && !current_user.admin?%>
  <%= link_to t('common.search'), new_search_path %>
<% end %>