<h1>Welcome to my railway</h1>
<p>by Antonio Montana</p>
<%= link_to 'Станции', stations_path %><br>
<%= link_to 'Поезда', trains_path %><br>
<%= link_to 'Маршруты', routes_path %><br>
<%= link_to 'Билеты', tickets_path %><br>
<%= link_to 'Пользователи', users_path %><br>
<%= link_to 'Вагоны', wagons_path %>