<h1>Welcome to my railway</h1>
<p>by Antonio Montana</p>
<% if current_user && current_user.admin?%>
  <%= link_to 'Станции', admin_stations_path %><br>
  <%= link_to 'Поезда', admin_trains_path %><br> 
  <%= link_to 'Маршруты', admin_routes_path %><br>
  <%= link_to 'Пользователи', users_path %>
<%end%>
<%= link_to 'Поиск', new_search_path %>