
      <tr>

          <td>
            <div id="station_name_<%= station.id %>">        
              <%= station.name %>
            </div>       
            <%= render 'form', station: station, hidden: true %>
          </td>     
          <td><%= link_to t('common.show'), [:admin, station], :class =>'btn' %></td>
          <td><%= link_to t('common.edit'), "", :class =>'edit_station btn btn-warning', data: { station_id: station.id } %></td>
          <td><%= link_to t('common.delete'),[:admin, station], :class =>'btn btn-danger', method: :delete, data: { confirm: t('common.confirm') } %></td>      
      </tr>


