<p>
  <strong><%= t('common.name')%></strong>
  <%= @station.name %>
</p>
<%if @station.routes.empty?%>
  <p><%= t('stations.all.no_route')%></p>
<% else %>
  <p><%= t('stations.all.routes')%></p>  
  <ul>
    <% @station.routes.each do |route|%>
      <li><%= route.name %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to t('common.edit'), edit_admin_station_path(@station) %> |
<%= link_to t('common.back'), admin_stations_path %><br>
<%= link_to t('common.main'), root_path %>
