<%= form_for(@ticket) do |f| %>
  <%= render 'common/errors', resource: @ticket%>
  <p>      
    <%=  f.hidden_field :start_station_id, value: params[:ticket][:start_station_id] %>
    <%=  f.hidden_field :finish_station_id, value: params[:ticket][:finish_station_id]%>
  </p>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div> 
 
  <div class="actions">
    <%= f.submit "#{ @ticket.new_record? ? 'СОЗДАТЬ' : 'ИЗМЕНИТЬ'}"%>
  </div>
<% end %>