<div class='container'>
  <div class='col-sm-5'>
      <%= bootstrap_form_for(@ticket) do |f| %>  
        <p>
          <%=  f.hidden_field :train_id, value: params[:ticket][:train_id] %>      
          <%=  f.hidden_field :start_station_id, value: params[:ticket][:start_station_id] %>
          <%=  f.hidden_field :finish_station_id, value: params[:ticket][:finish_station_id]%>      
        </p>
        <div class="field">    
          <%= f.text_field :number %>
        </div> 
          </p>
        <div class="field">
          
          <%= f.text_field :name %>
        </div> 
        <div class="field">    
          <%= f.text_field :surname %>
        </div> 
       
        <div class="actions">
          <%= f.submit "#{ @ticket.new_record? ? 'СОЗДАТЬ' : 'ИЗМЕНИТЬ'}", class:'btn btn-success'%>
        </div>
      <% end %>
      </div>
</div>