<p id="notice"><%= notice %></p>
<p>
  <strong>Название:</strong>
  <%= @ticket.number %><br>
  <strong>Start station</strong>
  <%= @ticket.start_station.name %><br>
  <strong>Finish station</strong>
  <%= @ticket.finish_station.name%>
</p>


<%= link_to 'Редактировать', edit_ticket_path(@ticket) %> |
<%= link_to 'Назад', tickets_path %><br>
<%= link_to 'Главная', '/'%>