<p id="notice"><%= notice %></p>
<table>
  <thead>
   <tr>
    <th>Поезд </th>
    <th>Посадка </th>
    <th>Отправка </th>
    <th>Высадка </th>
    <th>Прибытие </th>
    <th>Паспорт </th>
    <th  width=100px >Имя</th>
    <th  width=100px >Фамилия</th>
   </tr>
  </thead>
  <tbody>
  <tr>
   <td><%= @ticket.train.number %></td>  
   <td><%= @ticket.start_station.name %></td>
   <td><%= @ticket.departing.to_s(:time) %><br></td>
   <td><%= @ticket.finish_station.name%></td>
   <td><%= @ticket.arrival.to_s(:time) %><br></td>
   <td><%= @ticket.number %></td>
   <td><%= @ticket.name %></td>
   <td><%= @ticket.surname %></td>  
  </tr>
  </tbody>
</table>


<%= link_to 'Редактировать', edit_ticket_path(@ticket) %> |
<%= link_to 'Назад', tickets_path %><br>
<%= link_to 'Главная', '/'%>