<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @ticket.number %>
</p>

<%= link_to 'Редактировать', edit_ticket_path(@ticket) %> |
<%= link_to 'Назад', tickets_path %><br>
<%= link_to 'Главная', '/'%>