<p id="notice"><%= notice %></p>
<h1>Список вагонов</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
   <% @carriages.each do |carriage|%>
    <tr>
      <td><%= carriage.type %></td>
      <td><%= link_to 'Показать', carriage %></td>
      <td><%= link_to 'Редактировать', edit_carriage_path(carriage) %></td>
      <td><%= link_to 'Удалить', carriage, method: :delete, data: {confirm: "Вы уверенны?"} %></td>
    </tr>
   <% end %>
  </tbody>
</table>
<%= link_to 'Создать новый вагон', new_carriage_path %>
<%= link_to 'Главная', '/'%>