<p id="notice"><%= notice %></p>
<p>
  <strong> Номер поезда </strong>
  <% if @carriage.train.present? %>
    <%= @carriage.train.number %>
  <% else %>
    Не указано
  <% end %>
</p>
<p>
  <strong> Тип вагона </strong>
  <%= @carriage.type %><br>
  <strong> Номер вагона </strong>
  <%= @carriage.number %><br>
  <%= render @carriage.type.underscore %>
</p>
<%= link_to 'Редактировать', edit_carriage_path(@carriage)%> | 
<%= link_to 'Удалить', carriage_path(@carriage), method: :delete, data: { confirm: 'Вы уверенны' } %><br>
<%= link_to 'Назад', trains_path%><br>
<%= link_to 'Главная', '/'%>