<p id="notice"><%= notice %></p>
<p>
  <strong> Номер поезда </strong>
  <% if @carriage.train.present? %>
    <%= @carriage.train.number %>
  <% else %>
    Не указано
  <% end %>
</p>
<p>
  <strong> Тип вагона </strong>
  <%= @carriage.type %><br>
  <strong> Номер вагона </strong>
  <%= @carriage.number %><br>
  <%= render @carriage.type.underscore %>
</p>
<%= link_to 'Редактировать', edit_train_carriage_path(@train, @carriage)%> | 
<%= link_to 'Назад', trains_path%><br>
<%= link_to 'Главная', '/'%>