<p id="notice"><%= notice %></p>
<p>
  <strong> Номер поезда </strong>
  <% if @carriage.train.present? %>
    <%= @carriage.train.number %>
  <% else %>
    Не указано
  <% end %>
</p>
<p>
  <strong> Тип вагона </strong>
  <%= @carriage.type %><br>
  <strong> Верхних полок : </strong>
  <%= @carriage.top_seats %><br>
  <strong> Нижних полок :</strong>
  <%= @carriage.bottom_seats %>
</p>
<%= link_to 'Редактировать', edit_carriage_path(@carriage)%> | 
<%= link_to 'Назад', carriages_path%><br>
<%= link_to 'Главная', '/'%>