<%= form_for([:admin, @ticket]) do |f| %>
  
  <%= render 'common/errors', resource: @ticket%>
  <p>
    <%=  f.text_field :train_id, value: @ticket.train.id %>      
    <%=  f.text_field :start_station_id, value: @ticket.start_station.id %>
    <%=  f.text_field :finish_station_id, value: @ticket.finish_station.id %>      
  </p>
  <div class="field">
    <%= f.label :number, "Праспорт" %><br>
    <%= f.text_field :number %>
  </div> 
    </p>
  <div class="field">
    <%= f.label :name,"Имя" %><br>
    <%= f.text_field :name %>
  </div> 
  <div class="field">
    <%= f.label :surname,"Фамилия" %><br>
    <%= f.text_field :surname %>
  </div> 
 
  <div class="actions">
    <%= f.submit "Изменить", method: :patch%>
  </div>
<% end %>