<!--<div class="container">    
 <div calss="row" style="margin-top:50px;">
   <div class="col-xs-12 col-sm-6 col-sm-offset-1">
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">      
        <%= f.email_field :email, placeholder:"your_email@example.com", autofocus: true %>
      </div>
      <div class="field">    
        <%= f.password_field :password, placeholder:"your password", autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>      
        </div>
      <% end %>
      <div class="actions">
          <%= f.primary "Log in" %>
      </div>             
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-4" style="font-size:15px">
     <%= render "devise/shared/links" %>
  </div>
 </div>
</div>-->
<div class="col-xs-12 col-sm-4 col-sm-offset-4 signin">
     <%= render "devise/shared/links" %>
</div>

