<%= bootstrap_form_for [:admin, @train, @carriage.becomes(Carriage)] do |f|%>
<%= render 'common/errors', resource: @carriage %>
 
  <%= f.number_field :number %>    
  <%= f.select(:type, options_for_select(["", :CoupeCarriage, :EconomyCarriage, :SvCarriage, :SitonlyCarriage], :include_blank => true)) %>  
  

  <div class="schmidt CoupeCarriage">   
    <%= f.number_field :top_seats %>
    <%= f.number_field :bottom_seats %>
  </div>
  

  <div class='schmidt EconomyCarriage'>
    <%= f.number_field :top_seats %>
    <%= f.number_field :bottom_seats %>
    <%= f.number_field :side_top_seats %>
    <%= f.number_field :side_bottom_seats %>
  </div>

  <div class='schmidt SvCarriage'>
    <%= f.number_field :bottom_seats %>
  </div>
  <div class= 'schmidt SitonlyCarriage'>
    <%= f.number_field :sitonly_seats %>
  </div>
  

<div class="actions">   
  <%= f.submit t('.submit', action: @carriage.new_record? ? t('common.create') : t('common.edit')) %>
</div>
<% end %>