<p id="notice"><%= notice %></p>
<p>
  <strong><%= t('.train_number')%></strong>
  <% if @carriage.train.present? %>
    <%= @carriage.train.number %>
  <% else %>
    <%= t('common.nothing_mentioned') %>
  <% end %>
</p>
<p>
  <strong><%= t('.type')%></strong>
  <%= @carriage.type %><br>
  <strong><%= t('.carriage_number')%></strong>
  <%= @carriage.number %><br>
  <%= render @carriage.type.underscore %>
</p>
<%= link_to t('common.edit'), edit_admin_carriage_path(@carriage)%> | 
<%= link_to t('common.delete'), admin_carriage_path(@carriage), method: :delete, data: { confirm: t('common.confirm') } %><br>
<%= link_to t('common.main'), root_path %> |
<%= link_to t('common.back'), [:admin, @carriage.train]%>
