<ul>
  <li> <%= start.name %><br>
    Прибывает в :
    <%= start.schedule_at(route, :arrival).to_s(:time) %>
    Отправляется в :
    <%= start.schedule_at(route, :departing).to_s(:time) %>
  </li> 
  <li> <%= finish.name %><br>
    Прибывает в :
    <%= finish.schedule_at(route, :arrival).to_s(:time) %>
    Отправляется в :
    <%= finish.schedule_at(route, :departing).to_s(:time) %>
  </li>            
</ul>