<ul>
  <li> <%= start.name %><br>
    <%= t('common.arrival') %>
    <%= start.schedule_at(route, :arrival).to_s(:time) %>
    <%= t('common.diparture') %>
    <%= start.schedule_at(route, :departing).to_s(:time) %>
  </li> 
  <li> <%= finish.name %><br>
    <%= t('common.arrival') %>
    <%= finish.schedule_at(route, :arrival).to_s(:time) %>
    <%= t('common.diparture') %>
    <%= finish.schedule_at(route, :departing).to_s(:time) %>
  </li>            
</ul>