<h1>Возможные маршруты</h1>
<% if @routes.count > 0 %>
  <% @routes.each do |route|%>
    <ul>
      <li><%= route.name %></li>
      <% if route.trains.count > 0 %>
        <% route.trains.each do |train|%>
        <p> Поезд номер : <%= train.number %>
          <%= link_to 'Купить билет', new_ticket_path(ticket: { train_id: train, start_station_id: params[:search][:start_id], finish_station_id: params[:search][:finish_id], user_id: User.first } )%>
        </p>        
        <%= render 'schedule', start:@start, finish:@finish, route: route %>
        <%end%>
      <% else %>
        <h3>На маршруте нету поездов </h3>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <h3> Ничего не найдено </h3>
<% end %>
<%= link_to 'Главная', '/'%>
