<h1>Возможные маршруты</h1>
<% if @routes.count > 0 %>
  <% @routes.each do |route|%>
    <ul>
      <li><%= route.name %></li>
      <% if route.trains.count > 0 %>
        <% route.trains.each do |train|%>
        <p> Поезд номер : <%= train.number %>
          <%= link_to 'Купить билет', new_ticket_path(ticket: { train_id: train, start_station_id: params[:search][:start_id], finish_station_id: params[:search][:finish_id] } )%>
        </p>        
          <ul>
            <li> <%= route.station(params[:search][:start_id]).name %><br>
              Прибывает в :
             <%= @start.schedule_at(route, :arrival).to_s(:time) %>
              Отправляется в :
             <%= @start.schedule_at(route, :departing).to_s(:time) %>
            </li> 
            <li> <%= @finish.name %><br>
              Прибывает в :
             <%= @finish.schedule_at(route, :arrival).to_s(:time) %>
              Отправляется в :
             <%= @finish.schedule_at(route, :departing).to_s(:time) %>
            </li>            
          </ul>
        <%end%>
      <% else %>
        <h3>На маршруте нету поездов </h3>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <h3> Ничего не найдено </h3>
<% end %>
<%= link_to 'Главная', '/'%>
