
<h1><%= t('.title') %></h1>
<% if @routes.count > 0 %>
  <% @routes.each do |route|%>
    <ul>
      <li><%= route.name %></li>
      <% if route.trains.count > 0 %>
        <% route.trains.each do |train|%>
        <p> Поезд номер : <%= train.number %>
          <%= link_to t('.buy_ticket'), new_ticket_path(ticket: { train_id: train, start_station_id: params[:start_station], finish_station_id: params[:finish_station]} )%>
        </p>        
        <%= render 'schedule', start:@start, finish:@finish, route: route %>
        <%end%>
      <% else %>
        <h3><%= t('common.nothing_found')%></h3>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <h3><%= t('common.nothing_found')%></h3>
<% end %>

<%= link_to t('common.main'), root_path %> |
<%= link_to t('.new_search'), new_search_path %> 

