<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.name %>
</p>

<% if @route.stations.empty? %>
  <p>В маршруте нету станций</p>
<% else %>
  <p>B маршруте следующие станции : </p>
  <ul>
    <% @route.stations.each do |station|%>
      <li><%= station.name %></li>
      <% end %>
  </ul>
<% end %>
<% if @route.trains.empty? %>
  <p>На маршруте нету поездов</p>
<% else %>
  <p>На маршруте следующие поезда : </p>
  <ul>
    <% @route.trains.each do |train|%>
      <li><%= train.number %></li>
      <% end %>
  </ul>
<% end %>

<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %><br>
<%= link_to 'Главная', '/'%>