<%= form_for([:admin, @train]) do |f| %>
  <%= render 'common/errors', resource: @train %>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>    
  </div>
  <div class="field">
    <%= f.label :station %>
    <%= f.collection_select :station_id, Station.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :route %>
    <%= f.collection_select :route_id, Route.all, :id, :name %>
  </div>
  <p>
    <% if @train.id %>
      <%= link_to t('common.add_carriage'), new_admin_train_carriage_path(@train) %>
    <% end %>
  </p>
  <div class="actions">
    <%= f.submit t('.submit', action: @train.new_record? ? t('common.create') : t('common.edit')) %>
  </div>
<% end %>