<tr>
  <td><%= train.number %>
      <%= render 'form', train: train %>
  </td>
  <td><%= link_to t('common.show'), [:admin, train], class:'btn' %></td>
  <td><%= link_to t('common.edit'), edit_admin_train_path(train), class:'btn' %></td>
  <td><%= link_to t('common.delete'), [:admin, train],class:'btn btn-danger', method: :delete, data: { confirm: "#{t('common.confirm')}" } %></td>
</tr>