<p>
  <strong> Имя пользователя : </strong>
  <%= @user.name %><br>
  <strong> Email :</strong>
  <%= @user.email %>
</p>
<p> Билеты у пользователя :</p>
<% if @user.tickets.empty? %>
  <p>У пользователя нету билетов</p>
<% else %>
  <ul>
   <% @user.tickets.each do |ticket| %>
    <li><%= link_to "#{ticket.number}", [:admin, ticket] %></li>
   <% end %>
  </ul>
<% end %>

<%= link_to 'Редактировать', edit_admin_user_path(@user) %> |
<%= link_to 'Назад', admin_users_path %><br>
<%= link_to 'Главная', '/'%>