<h1><%= t('common.admin')%></h1>
  <%= link_to t('.stations'), admin_stations_path %><br>
  <%= link_to t('.trains'), admin_trains_path %><br> 
  <%= link_to t('.routes'), admin_routes_path %><br>
  <%= link_to t('.users'), admin_users_path %><br>
  <%= link_to t('.tickets'), admin_tickets_path %><br>