<div class="col-lg-3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Resources</li>
      <li><%= link_to t('.stations'), admin_stations_path %></li>
      <li><%= link_to t('.trains'), admin_trains_path %></li>
      <li><%= link_to t('.routes'), admin_routes_path %></li>
      <li><%= link_to t('.users'), admin_users_path %></li>
      <li><%= link_to t('.tickets'), admin_tickets_path %></li>
    </ul>
</div>