<!DOCTYPE html>
<html>
<head>
  <title>Tutu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p id="notice" class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if user_signed_in? %>
    <%= link_to t('common.enter'), destroy_user_session_path, method: :delete %>
    <% if !current_user.admin?%>      
      <p> Кабинет : <%= link_to " #{current_user.name} ", user_path(current_user) %></p>
    <% end %>
  <% else %>
    <%= link_to t('common.exit'), new_user_session_path %>
  <% end %>
<%= yield %>
<footer>
  (с) 2016 Антон Кратюк . Учебный проект в 
  <%= link_to 'онлайн-школе Thinknetica','http://thinknetica.com'%>
</footer>
</body>
</html>
